<!DOCTYPE HTML>
<html>
<header>
    <title>LightOS | LCCreators</title>
    <meta charset="utf-8" />
</header>
<!--#include virtual="/partials/header.html" -->

<body>
    <!--#include virtual="/partials/nav.html" -->
    <div class="imgsl3">
        <article id="visual">
            <picture>
                <source type="image/webp" srcset="https://img.vnic.cf/lcweb/bg/bg6.webp">
                </source>
                <img src="https://img.vnic.cf/lcweb/bg/bg6.png" style="width:50%">
            </picture>
        </article>
    </div>
    <div class="body">
        <article id="intro">
            <blockquote>
                <p>Independently developed? That's not true.</p>
            </blockquote>
            <h1>What's LightOS?</h1>
            <p>LightOSは、趣味で開発された軽量・シンプル、そして少しのWindows風味を含んだUbuntuカスタマイズOSです。
            </p>
            <h1>概要</h1>
            <p>Ubuntuをベースとし、xfce4を使用したシンプルなOSです。あなたの手で自由にカスタマイズして、自分好みのUIを作りましょう。</p>
            <h1>注意</h1>
            <ul>
                <li>基本パッケージは全て入っていますが、オフィスやコードエディタなどはプリインストールされていません。</li>
                <li>これによりPCがいかなる状態になろうと、当団体および開発者は保証いたしません。</li>
            </ul>
            <h1>ダウンロード</h1>
            <div class="cp_ipselect cp_sl01">
                <select name="source" v-model="selectedSource" v-on:change="downloadFrom">
                    <option v-for="source in sources" v-bind:value="source.id">
                        {{ source.name }}
                    </option>
                </select>
            </div>
            <section id="mega" class="hidden">
                <a href="https://mega.nz/folder/0X5HRSwL#hfO-c_oO5KzJXrAh9oY4Pg" class="btn-border">ダウンロード</a>
            </section>
            <section id="japan" class="hidden">
                <a href="https://archive.lccs.gq/lightos/" class="btn-border">ダウンロード（Japan）</a>
            </section>
        </article>
    </div>
    <!--#include virtual="/partials/vue.html" -->
    </div>
</body>
<!--#include virtual="/partials/footer.html" -->

</html>