<footer>
    <script>
        window.WebFontConfig = {
          google: { families: ['Material+Icons'] },
          active: function() {
            sessionStorage.fonts = true;
          }
        };
        (function() {
          var wf = document.createElement('script');
          wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
        })();
        </script>
    　<div class="foot-wrap">

        　<div class="menu-left">
            　　<h3>Link</h3>
            　　<ul class="foot-left">
                　　　<li><a href="https://github.com/lightcube-c">Github</a></li>
                　　　<li><a href="https://twitter.com/LightCube_c">Twitter</a></li>
                　　　<li><a href="https://www.youtube.com/channel/UCS7m041XnI2vRKmV2FkDbyQ">Youtube</a></li>
                　　</ul>
            　</div>

        　<div class="menu-center">
            　　<h3>About Us</h3>
            　　<ul class="foot-center">
                　　　<li><a href="/about/">私たちについて</a></li>
                　　　<li><a href="/privacy/">プライバシーポリシー</a></li>
                　　　<li><a href="/agreement/">利用規約</a></li>
                　　</ul>
            　</div>

        　<div class="menu-right">
            　　<h3>Projects</h3>
            　　<ul class="foot-right">
                　　　<li><a href="/projects/lightcube">LightCube</a></li>
                　　　<li><a href="/projects/lightos">LightOS</a></li>
                　　　<li><a href="#">Coming Soon...</a></li>
                　　</ul>
            　</div>

        　　<small class="cmark">CopyRight &copy; 2020 <a href="/">LCCreators</a> All Rights Reserved.</small>

        　</div>
</footer>