<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154666427-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
  
      gtag('config', 'UA-154666427-2');
    </script>
    <meta name="theme-color" content="#FFF">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@LightCube_c">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="lightcube.cf">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:image" content="/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" href="/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="/image/favicon/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/image/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/image/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/image/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/image/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/image/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/image/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/image/favicon/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/image/favicon/apple-touch-icon-180x180.png" />
    <meta property="og:title" content="LCCreators Official Website">
    <meta name="description" content="LCCreatorsでは、主にゲームの制作やウェブサイトの制作を行っております。LightCubeなどの教育機関向けゲームを開発中です。">
    <meta property="og:description" content="LCCreatorsでは、主にゲームの制作やウェブサイトの制作を行っております。LightCubeなどの教育機関向けゲームを開発中です。">
    <meta property="og:url" content="https://www.lightcube.cf">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link href="/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hooper@0.2.1/dist/hooper.min.css">
    <script src="https://cdn.jsdelivr.net/npm/hooper@0.2.1/dist/hooper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
  </head>
