<div id="app" v-cloak>
    <header id="headera">
        <menu-btn :class="{ menu_btn: true, open_: menuFlag }" @click.native="menuToggle">
        </menu-btn>
    </header>
    <transition>
        <div id="sp_menu" v-show="menuFlag" :style="{ marginTop: headH }">
            <div class="menu_wrap">
                <ul>
                    <li><a href="/"><span class="material-icons" style="font-size: 21px;">home</span>&emsp;ホーム</a>
                    </li>
                    <li>
                        <a href="#"><span class="material-icons"
                                style="font-size: 21px;">inbox</span>&emsp;プロジェクト</a>
                        <ul>
                            <li><a href="/projects/lightcube"><span class="material-icons"
                                        style="font-size: 21px;">chevron_right</span>&emsp;LightCube</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="https://blog.lightcube.cf"><span class="material-icons"
                                style="font-size: 21px;">description</span>&emsp;ブログ</a></li>
                    <li><a href="/contact/"><span class="material-icons"
                                style="font-size: 21px;">mail</span>&emsp;お問い合わせ</a></li>
                </ul>
            </div>
        </div>
    </transition>
</div>
<div>
    <nav class="pc-nav">
        <div class="logo">
            <h1><a href="/"><img src="https://img.vnic.cf/lcweb/logo.png" alt="サイトロゴ"></a></h1>
        </div>
        <ul class="menu">
            <li class="menu__none"><a href="/">ホーム</a></li>
            <li class="menu__single">
                <a href="https://blog.lightcube.cf">プロジェクト&emsp;<span class="material-icons"
                        style="font-size: 21px;">expand_more</span></a>
                <ul class="menu__second-level">
                    <li><a href="/projects/lightcube">LightCube</a></li>
                    <li><a href="/projects/lightos">LightOS</a></li>
                </ul>
            </li>
            <li class="menu__none"><a href="https://blog.lightcube.cf">ブログ</a></li>
            <li class="menu__none"><a href="/contact/">お問い合わせ</a></li>
        </ul>
    </nav>
</div>