<script>
    //menuボタンコンポーネント
    const menuBtnComp = {
        template: `
<div>
    <span class="menu_trigger">
        <span></span><span></span><span></span>
    </span>
</div>
`
    }

    //root
    const app = new Vue({
        el: '#app',
        data: {
            menuFlag: false,
            headH: "0px",
        },
        methods: {
            menuToggle: function () {
                //menuFlag切り替え
                this.menuFlag = !this.menuFlag;
            }
        },
        mounted: function () {
            //headerの高さ取得
            let h = document.getElementById("headera").offsetHeight;
            this.headH = h + "px";
        },
        components: {
            'menu-btn': menuBtnComp,
        }
    });

    new Vue({
        el: "#slide",
        components: {
            Hooper: window.Hooper.Hooper,
            Slide: window.Hooper.Slide,
            HooperNavigation: window.Hooper.Navigation,
            HooperPagination: window.Hooper.Pagination,
        }
    })
</script>