@charset "UTF-8";
@font-face {
  font-family:"Stellar Sans";
  src: url(fonts/Stellar-light.otf);
}
/**
   * reset
   */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
  margin: 0;
}

body {
  color: #000;
  font: 15px/1.7 "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  background-color: #f5f5f5;
  text-align: left;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/**
   * base
   */
.wrapper {
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: 13px;
  background: #bed6e6;
}

.contents {
  width: 100%;
  height: 100%;
}

.contents__inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 50px 24px;
  color: #fff;
}

.contents__inner h1 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

/**
   * btn
   */
.btn__box {
  width: 250px;
  height: 50px;
  line-height: 50px;
  margin: 100px auto 0;
  font-size: 13px;
}

.btn__box a {
  position: relative;
  display: block;
  color: #666;
  background: #fff;
}

.btn__box a:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 250px;
  height: 50px;
  border: 1px solid #666;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn__box a:hover:before {
  -webkit-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}

/**
   * menu
   */
.menu {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 50px;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: inline-block;
  float: right;
}

.logo {
  position: relative;
  display: inline-block;
}

.menu > li {
  float: left;
  width: 25%;
  height: 50px;
  line-height: 50px;
  background: #fff;
}

.menu > li a {
  display: block;
  color: #000;
  text-align: center;
}

.menu > li a:hover {
  color: #fff;
}

.menu__none:hover,
.menu__multi:hover,
.menu__mega:hover,
.menu__single:hover {
  background: #797979;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.menu__second-level li {
  border-top: 1px solid #797979;
  position: relative;
  z-index: 3;
}

.menu__third-level li {
  border-top: 1px solid #111;
}

.menu__second-level li a:hover {
  background: #797979;
  position: relative;
  z-index: 3;
}

.menu__third-level li a:hover {
  background: #2a1f1f;
}

.menu__fourth-level li a:hover {
  background: #1d0f0f;
}

.init-bottom:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0 0 15px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu:before,
.menu:after {
  content: "";
  display: table;
}

.menu:after {
  clear: both;
}

.menu {
  *zoom: 1;
}

/**
   * single menu
   */
.menu > .menu__single {
  position: relative;
}

.menu__single .menu__second-level {
  position: absolute;
  top: 40px;
  width: 100%;
  background: #fff;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  visibility: hidden;
  opacity: 0;
}

.menu__single:hover > .menu__second-level {
  top: 50px;
  visibility: visible;
  opacity: 1;
}

nav {
  background: #fff;
  display:block;
}

.logo img {
  height: 50px;
  padding-left: 30px;
}
/* smartphone menu */
[v-cloak] {
  display: none;
}

#headera {
  padding: 16px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display:none;
}

.menu_btn {
  width: 50px;
  height: 50px;
  padding: 4px;
  cursor: pointer;
}

.menu_btn .menu_trigger {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.menu_btn .menu_trigger span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  border-radius: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu_btn .menu_trigger span:nth-of-type(1) {
  top: 8px;
}

.menu_btn .menu_trigger span:nth-of-type(2) {
  top: calc(50% - 1px);
}

.menu_btn .menu_trigger span:nth-of-type(3) {
  bottom: 8px;
}

.menu_btn.open_ .menu_trigger span:nth-of-type(1) {
  top: calc(50% - 1px);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu_btn.open_ .menu_trigger span:nth-of-type(2) {
  opacity: 0;
}

.menu_btn.open_ .menu_trigger span:nth-of-type(3) {
  bottom: calc(50% - 1px);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#sp_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  padding: 5%;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}

#sp_menu a {
  color: #fff;
  text-align: right;
}

#sp_menu.v-enter,
#sp_menu.v-leave-to {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */

.material-icons {
  position: relative;
  /* 値は調整してください */
  top: 5px;
  left: 5px;
}

/*.hooper-slide /*{
  background-color: #62caaa;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 2px solid #fff;
  font-size: 30px;
  border-radius: 10px;
}*/

.sld1 {
  position: relative;
  z-index: 2;
  background-image: url("https://img.vnic.cf/lcweb/bg/bg1.png");
}

.sl-content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 150;
  color: #fff;
  margin: 0　10px;
  padding: 0;
}

.sl-content p h2 {
  margin: 0;
  font-weight: bold;
}

.sl-content p {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.sl-content h2 {
  font-size: 2rem;
  padding: 0;
}

.btn-open {
  display: inline-block;
  width: 180px;
  height: 50px;
  text-align: center;
  background-color: #00ccffff;
  font-size: 16px;
  line-height: 52px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #00ccffff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-open:after {
  width: 100%;
  height: 0;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: 0.2s;
  z-index: -1;
}
.btn-open:hover {
  color: #00ccffff;
}
.btn-open:hover:after {
  height: 240%;
  opacity: 1;
}
.btn-open:active:after {
  height: 340%;
  opacity: 1;
}

.foot-wrap .menu-left,
.menu-center,
.menu-right {
  display: inline-block;
  width: 20%;
  margin: 50px auto;
}

.foot-wrap ul {
  list-style: none;
  padding: 0;
}

.foot-wrap {
  background-color: #333;
  line-height:15px;
  color: #fff;
  text-align: center;
  height:100%;
}

.foot-wrap h3 {
  border-bottom: 3px solid #00ccffff;
  padding: 10px;
}

.foot-wrap a {
  text-decoration: none;
  color: #fff;
}
.foot-wrap a:hover {
  color: #00ccffff;
}

.foot-wrap .cmark {
  display: block;
  padding: 10px;
  border-top: 1px solid gray;
  width: 80%;
  margin: 0 auto;
  color: gray;
}

@media screen and (max-width: 900px) {
  　.foot-wrap .menu-left,
  .menu-center,
  .menu-right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  　.foot-wrap .cpr {
    display: inline;
  }
}

body {
  height:100%;
}

#wrapper{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}
  
footer{
  margin-top:auto;
}

.body {
  background-color:#07080a;
  color:#fff;
}

#intro {
  max-width:1200px;
  padding:2rem;
  box-sizing:broder-box;
  margin-right: auto;
  margin-left : auto;
}

#intro h1{
  font-family: "Stellar Sans";
  font-size:20px;
  font-weight: bold;
  padding:16px 0 16px 0px;
}

#intro ol{
  list-style-type: decimal;
  margin: 0 0 0 2em;
  padding: 0;
}

.bg {
  object-fit: cover;
  width: 100%;
}

.imgsl {
  height:640px;
  background-image: url("https://img.vnic.cf/lcweb/bg/bg1.png");
}

.imgsl2 {
  height:640px;
  background-image: url("https://img.vnic.cf/lcweb/bg/bg3.png");
}


.imgsl img {
  position: relative;
  top:40%;
  max-width: 700px;
  width:100%;
  transform:translateY(-50%);
}

.imgsl2 img {
  position: relative;
  top:40%;
  max-width: 700px;
  width:100%;
  transform:translateY(-50%);
}

#visual {
  max-width: 1200px;
  margin:0 auto;
  height:600px;
}

#headera {
  display:none;
}
.headera {
  display:none;
}
.menu_btn {
  display:none;
}
.menu_trigger {
  display:none;
}
.menu {
  display:block;
}
.menu-single {
  display:block;
}
.pc-nav {
  display:block;
}
.sl-content img {
  z-index: 2;
  width: 50%;
  clip: rect(0px, 10px, 0px, 150px);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800);
.profile-card{
  position:relative;
  display:inline-block;
  width:280px;
  margin:90px auto 0 auto;
  padding:40px 30px 30px;
  background:#fff;
  border: 5px solid rgba(255,255,255,.7);
  text-align:center;
  border-radius:4px;
  transition: all 200ms ease;
}
.mask-shadow{
  z-index:-1 !important;
  width:95%;
  height:12px;
  background:#000;
  bottom:0;
  left:0;
  right:0;
  margin:0 auto;
  position:absolute;
  border-radius:4px;
  opacity:0;
  transition: all 400ms ease-in;
}
.profile-card:hover{
  box-shadow: 0px 30px 60px -5px rgba(55,55,71,0.3);
  transform: translate3d(0,-5px,0);

}
.profile-card header {
  display:block;
  margin-bottom:10px;
}
.profile-card header a{
  width:150px;
  height:150px;
  display:block;
  border-radius:100%;
  margin:-120px auto 0;
  box-shadow: 0 0 0 5px #00ccffff;
}
.profile-card header a img{
  border-radius: 50%;
  width:150px;
  height:150px;
}

.profile-card:hover header a, .profile-card header a:hover{
  animation: bounceOut .4s linear; 
  -webkit-animation: bounceOut .4s linear;
}
.profile-card header h1{
  font-size:20px;
  color:#444;
  text-transform:uppercase;
  margin-bottom:5px;
}
.profile-card header h2{
  font-size:14px;
  color:#acacac;
  text-transform:uppercase;
  margin:0;
}
/*content*/
.profile-bio{
  font-size:14px;
  color:#a5a5a5;
  line-height:1.7;
  font-style: italic;
  margin-bottom:30px;
}
/*link social*/
.profile-social-links{
  margin:0;
  padding:0;
  list-style:none;
}
.profile-social-links li{
  display: inline-block;
  margin: 0 10px;
}
.profile-social-links li a{
  width: 55px;
  height:55px;
  display:block;
  background:#f1f1f1;
  border-radius:50%;
  -webkit-transition: all 2.75s cubic-bezier(0,.83,.17,1);
	-moz-transition: all 2.75s cubic-bezier(0,.83,.17,1);
	-o-transition: all 2.75s cubic-bezier(0,.83,.17,1);
	transition: all 2.75s cubic-bezier(0,.83,.17,1);
  transform-style: preserve-3d;
}
.profile-social-links li a img{
  width:35px;
  height:35px;
  margin:10px auto 0;
}
.profile-social-links li a:hover{
  background:#ddd;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
/*animation hover effect*/
@-webkit-keyframes bounceOut {
  0% {
    box-shadow: 0 0 0 4px #00ccffff;
    opacity: 1;
  }
  25% {
    box-shadow: 0 0 0 1px #00ccffff;
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 0 7px #00ccffff;
    opacity: 1;
  }
  75% {
    box-shadow: 0 0 0 4px #00ccffff;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 5px #00ccffff;
    opacity: 1;
  }
}
@keyframes bounceOut {
  0% {
    box-shadow: 0 0 0 6px #00ccffff;
    opacity: 1;
  }
  25% {
    box-shadow: 0 0 0 2px #00ccffff;
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 0 9px #00ccffff;
    opacity: 1;
  }
  75% {
    box-shadow: 0 0 0 3px #00ccffff;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 5px #00ccffff;
    opacity: 1;
  }
}


@media screen and (max-width: 479px) {
  #headera {
    display:block;
  }
  .menu_btn {
    display:block;
  }
  .menu_trigger {
    display:block;
  }
  .menu {
    display:none;
  }
  .menu__single {
    display:none;
  }
  .menu__second-level {
    display:none;
  }
  .menu__none {
    display:none;
  }
  .pc-nav {
    display:none;
  }
  .sl-content img {
    z-index: 2;
    width: 100%;
    clip: rect(0px, 10px, 0px, 150px);
  }
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
.pc { display: none !important; }
.sp { display: block !important; }
}

.cp_iptxt {
	position: relative;
	width: 100%;
  margin: 40px 3%;
  max-width: 1000px;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.cp_iptxt input[type='text']:focus::after {
	outline: none;
}
.cp_iptxt textarea {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
}
.cp_iptxt textarea:focus {
	outline: none;
}
.cp_iptxt textarea:focus::after {
	outline: none;
}
.cp_iptxt span {
	position: absolute;
	padding: 7px 5px;
	transition: 0.3s;
  color: #aaaaaa;
  top: 0px;
  left: 5px;
}
.cp_iptxt::after {
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -1px;
	content: '';
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #00ccffff;
}
.button {
  display       : inline-block;
  border-radius : 7%;
  font-size     : 12pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 25px;
  background    : #00ccff;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  border        : 2px solid #00ccff;
}
.button:hover {
  color         : #00ccff;
  background    : #ffffff;
}