<div class="flex flex-col">
    <div class="relative flex flex-col border-2">
        <div class="p-4">
            <div class="flex m-0">
                <img class="rounded-full w-20 h-20" src="{{ .Get 0 }}">
                <h5 class="mt-6 ml-4 mb-2 text-xl">{{ .Get 1 }}</h5>
            </div>
            <p class="mt-4">{{ .Get 2 }}</p>
            <div class="block mt-4">
            {{ if .Get 3 }}
            <a href="{{ .Get 3 }}" class="text-2xl mr-2 duration-200 hover:opacity-50 card"><ion-icon name="logo-github" class="rounded-full bg-gray-100 p-2"></ion-icon></a>
            {{ end }}
            {{ if .Get 4 }}
            <a href="{{ .Get 4 }}" class="text-2xl duration-200 hover:opacity-50 card"><ion-icon name="logo-twitter" class="rounded-full bg-gray-100 p-2"></ion-icon></a>
            {{ end }}
            </div>
        </div>
    </div>
</div>
