<nav class="text-sm uppercase flex items-center justify-between flex-wrap p-6 border-b-2">
        <a href="/">
            <img src="/img/logo.svg" class="flex items-center flex-shrink-0 text-2xl mr-6 h-16" />
        </a>
        <div class="block lg:hidden">
            <div id="hamburgerbtn" class="flex cursor-pointer items-center w-14 h-10 py-2 rounded type-1">
                <span class="top bg-black"></span>
                <span class="middle bg-black"></span>
                <span class="bottom bg-black"></span>
            </div>
        </div>
        <div class="hidden w-full ml-6 block flex-grow lg:flex lg:flex-row lg:items-center lg:w-auto" id="navbarColor03">
            <div class="text-md lg:flex-grow lg:ml-auto"></div>
            <div class="text-md mt-3 lg:m-0">
                {{ range .Site.Menus.main }}
                <a href="{{ .URL }}" class="duration-200 text-gray-300 hover:text-black block mt-4 lg:inline-block lg:mt-0 mr-8">
                    {{ .Name }}
                </a>
                {{ end }}
            </div>
        </div>
</nav>