<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="img/slide/mountain.png" class="block w-full vh-85 object-cover" alt="lightcube">
            <div class="text-center text-white absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                <p class="text-4xl mb-10 py-4 px-8">LightCube</p>
                <a href="/projects/lightcube" class="inline-block text-xl border-2 border-white p-3 hover:bg-white duration-200 hover:text-black">learn more...</a>
            </div>
        </div>
    </div>
</div>