{{if .Site.Data.features}}
<div class="bg-dark text-white">
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-3">
            {{ range .Site.Data.features }}
            <div class="col">
                <div class="p-1 text-center">
                    {{if .icon }}
                    <i class="bi {{ .icon }} fs-1"></i>
                    {{ end }}
                    <h3 class="mt-3 text-white">{{ .title }}</h3>
                    <p>{{ .description }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{end}}