<form action="/contact.php" method="post">
    <script src="https://www.google.com/recaptcha/api.js?render=6LexIpUUAAAAAPgUxQ91WLWNxccF8PjwOoi9IVgi"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LexIpUUAAAAAPgUxQ91WLWNxccF8PjwOoi9IVgi', { action: 'homepage' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <input type="hidden" name="recaptchaResponse" id="recaptchaResponse">
    <div class="mb-3">
        <label for="name" class="block mb-2">Your Name</label>
        <input type="text" class="block w-full bg-gray-100 focus:bg-white px-4 py-3" name="name" id="name" placeholder="John Doe">
    </div>
    <div class="mb-3">
        <label for="email" class="block mb-2">Email Address</label>
        <input type="email" class="block w-full bg-gray-100 focus:bg-white px-4 py-3" name="mail" id="email" placeholder="abc@example.com">
    </div>
    <div class="mb-3">
        <label for="title" class="block mb-2">Your Name</label>
        <input type="text" class="block w-full bg-gray-100 focus:bg-white px-4 py-3" name="title" id="title" placeholder="Title">
    </div>
    <div class="mb-3">
        <label for="select" class="block mb-2">Type of inquiry</label>
        <select name="type" class="block w-full bg-gray-100 focus:bg-white px-4 py-3" aria-label="Contact Type" id="select">
            <option selected>Select</option>
            <option value="不具合報告">不具合報告</option>
            <option value="提案">提案</option>
            <option value="応募">応募</option>
            <option value="その他">その他</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="message" class="block mb-2">Message</label>
        <textarea class="block w-full bg-gray-100 focus:bg-white px-4 py-3" id="message" name="message" rows="3" placeholder="Message"></textarea>
    </div>
    <input type="hidden" id="token" name="token" value="7942368" />
    <div class="mb-3">
        <button class="bg-black text-white px-6 py-3" type="submit">Submit</button>
    </div>
</form>
